body {
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header {
  background-color: rgb(191, 191, 191);
  padding: 40px 20px;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media only screen and (max-width: 960px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}

.item {
  padding: 20px;
  background-color: rgb(191, 191, 191);
}

.footer {
  background-color: rgb(191, 191, 191);
  padding: 40px 20px;
}
